<div data-ng-init="init()">
	<div class="container-fluid" style="width: 95%;">
		<div class="col-md-12 col-md-offset-1">

			<h1 class="page-header well">Administration</h1>

			<h2 class="well">People</h2>

            <div ng-repeat="alert in alerts">
                <alert type="{{alert.type}}" dismiss-on-timeout="{{alert.timeout}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>

			<div class="table-responsive well">
                <button
                    class="fa fa-plus-square btn btn-primary" 
                    tooltip="Add a new person" 
                    tooltip-trigger="mouseenter" 
                    tooltip-append-to-body
                    ng-click="addPersonModal()">
                  &nbsp;&nbsp;&nbsp;Add Person
                </button>

                <div class="table-responsive well" ng-show="isLoading"></div><div ng-show="isLoading"><span><i class="fa fa-spinner fa-spin"></i></span>Loading ...</div>
				<div class="table-responsive well ng-cloak" ng-show="!isLoading" ng-cloak>
				    <div>Total Records: {{tableState.total()}}</div>
					<table 
						class="table table-bordered table-hover table-striped" 
						ng-table="tableState" 
						show-filter="true">
						<tbody>
							<tr ng-repeat="person in tableState.data">
								<td 
									data-title="'First Name'" 
									filter="{ 'firstName': 'text' }" 
									sortable="'firstName'">
									<a 
										href="#" 
										editable-text="person.firstName"
										onaftersave="savePerson(person)" 
										e-required
										e-placeholder="Enter first name">
									{{person.firstName || "empty"}}
									</a>
								</td>
								<td data-title="'Middle Name'">
									<a 
										href="#" 
										editable-text="person.middleName"
										onaftersave="savePerson(person)">
									{{person.middleName || "empty"}}
									</a>
								</td>
								<td data-title="'Last Name'" filter="{ 'lastName': 'text' }" sortable="'lastName'">
									<a 
										href="#" 
										editable-text="person.lastName"
										onaftersave="savePerson(person)" 
										e-required
										e-placeholder="Enter last name">
									{{person.lastName || "empty"}}
									</a>
								</td>
                                <td ignore-cell data-title="'Contacts'">
                                    <a href="javascript:;" ng-click="contactsModal(person)">View</a>
                                    <a href="javascript:;" ng-click="addEmailModal(person)">Add</a>
                                    <a href="#">Edit</a>
                                </td>
								<td ignore-cell><a href="javascript:;" ng-click="deletePerson(person)">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
