//for ui-grid - James G Willmore
.grid { width : 950px; height : 450px; }
/*.cust-header-cell { background-color : #4F78A5; color : #FFFFFF; font-family : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-style : italic; font-size : 15px; font-weight : bold; }*/
/*.ui-grid-filter-input  { background-color : #FFFFFF; color : #000000; font-family : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size : 14px; font-style : 'normal'; font-weight : normal;' }*/
/*.ui-grid-icon-cancel { background-color : #FFFFFF !important; color : #4F78A5 !important; width: 1000%; z-index: 1000}*/

  .st-sort-ascent:after{ content: '\25B2'; }
  .st-sort-descent:after{ content: '\25BC'; }